body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin:20px;
}
li {
  list-style: none;
  margin: 10px;
}
li button{
  font-size: 15px;
  background-color: white;
  border: 1px black solid; 
}
li button:focus{
  outline: none;
}
li button:hover {
  background-color:rgba(32, 173, 108, 0.541);
}
.status 
{
  margin-bottom: 10px;
}
.square 
{
  background: #fff;
  border:1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top:-1px;
  padding:0;
  text-align: center;
  width: 34px;
}
.square:focus
{
  outline: none;
}
.square:focus 
{
  background: #ddd;
}
.game{
  display: flex;
  flex-direction: row;
}
.game-info
{
  margin-left: 20px;
}